doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title YAML Multiline Strings
		meta(name="description" content="Find the right syntax for your YAML multiline strings.")
		style(type="text/css")
			include style.min.css
		meta(name="theme-color" content="#00d1b2")
		//- favicon.io: Text: \n Font: droid sans Font Color: #FFFFFF BG Color: #00d1b2 Shape: circle
		link(rel="shortcut icon" href="/favicon.ico")
		link(rel="apple-touch-icon" sizes="512x512" href="/favicon-512.png")
		link(rel="icon" type="image/png" href="/favicon-512.png" sizes="512x512")
	body
		header.hero.is-primary.is-bold: .hero-body
			.container
				h1
					.title YAML Multiline
					.subtitle Find the right syntax for your YAML multiline strings
		main.section.container.content: include article.pug
		if production
			script(type="text/javascript").
				var _paq = _paq || [];
				_paq.push(['trackPageView']);
				_paq.push(['enableLinkTracking']);
				(function() {
					var u="//analytics.linestarve.com/";
					_paq.push(['setTrackerUrl', u+'piwik.php']);
					_paq.push(['setSiteId', '4']);
					var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
					g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
				})();
			noscript: p: img(src="//analytics.linestarve.com/piwik.php?idsite=4&rec=1" style="border:0;" alt="")
		footer.footer: .container: .content.has-text-centered
			| &copy; 2017 #[a(href="http://www.linestarve.com/") Wolfgang Faust]
			=' '
			| &bull;
			=' '
			a(href='https://github.com/wolfgang42/yaml-multiline')
				//- This data URI is github-64.png.
				//- I embed it because the image is so small that the overhead
				//- of a separate request would completely swamp the actual data.
				//- This is a horribly excessive micro-optimiziation,
				//- but I had fun doing it.
				img(
					width=16 height=16 alt="GitHub:"
					style="vertical-align:middle"
					src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAQMAAACQp+OdAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAMdJREFUeAGtzrFtBCEUBNBZEWxICZRCaWzmtpDcCNcBzggQ4z/8k/dkXXg/WL0VDPNhkwb2BLJuRLJvFHJt0OZ5xS+dQlNYGIYsTA95jPTY4bhuhJXJWSrOFclWmkHthqgnkDvSP4wbeQll3ih+tF4whPQCdiH+gR9GMgzHXfpmsSXYN1PgNFQgGBK73htIXwsowjdrIDvig9chnD8bDWcnIISRhYpjQLhwzCewNtQn6C8/1Olb+uKn0AxBqAYIgMfmRgQ63swvNm3X54/v6+YAAAAASUVORK5CYII='
					)
				=' '
				| wolfgang42/yaml-multiline
			div(style="padding-top:.5em;") Thanks to #[a(href="http://stackoverflow.com/questions/3790454/in-yaml-how-do-i-break-a-string-over-multiple-lines/21699210#21699210") Steve Bennett]
