doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title YAML Multiline Strings
		meta(name="description" content="Find the right syntax for your YAML multiline strings.")
		style(type="text/css")
			include style.min.css
		meta(name="theme-color" content="#00d1b2")
		//- favicon.io: Text: \n Font: droid sans Font Color: #FFFFFF BG Color: #00d1b2 Shape: circle
		link(rel="shortcut icon" href="/favicon.ico")
		link(rel="apple-touch-icon" sizes="512x512" href="/favicon-512.png")
		link(rel="icon" type="image/png" href="/favicon-512.png" sizes="512x512")
		script(async src="https://media.ethicalads.io/media/client/ethicalads.min.js")
	body
		header.hero.is-primary.is-bold: .hero-body
			.container#header-container
				h1
					.title YAML Multiline
					.subtitle Find the right syntax for your YAML multiline strings
		main.section.container.content#main-container: include article.pug
		if production
			script(type="text/javascript").
				var _paq = _paq || [];
				_paq.push(['trackPageView']);
				_paq.push(['enableLinkTracking']);
				(function() {
					var u="//analytics.linestarve.com/";
					_paq.push(['setTrackerUrl', u+'piwik.php']);
					_paq.push(['setSiteId', '4']);
					var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
					g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
				})();
			noscript: p: img(src="//analytics.linestarve.com/piwik.php?idsite=4&rec=1" style="border:0;" alt="")
		script.
			;(function() {
			// A/B test for Ethical Ads placement
			var eap = window.localStorage.getItem('eap')
			if (!eap || eap.length !== 1 || 'abcd'.indexOf(eap) === -1) {
				// Manually-implemented hacky version of epsilon-greedy multi-armed bandit
				if (Math.random() > 0.1) {
					eap = 'b' // This one performs best, so pick it most of the time
				} else {
					// But also randomly pick the other ones, sometimes, so we can continue to gather stats
					// (at a reduced rate) in case that turns out to have been a fluke.
					// (I'm particularly perplexed as to why adding keywords to the inline ad seems to drop
					// its performance to be identical to ads in the header regardless of keywords.)
					eap = 'abcd'[Math.floor(Math.random() * 4)]
				}
				window.localStorage.setItem('eap', eap)
			}
			var ea = document.createElement('div')
			ea.id = 'eap-'+eap
			ea.classList.add('horizontal')
			ea.dataset.eaType = 'image'
			ea.dataset.eaPublisher = 'yaml-multiline-info'
			if (eap === 'a' || eap === 'c') { // In header
				ea.classList.add('eah-wrapper')
				var ctr = document.getElementById('header-container')
			} else if (eap === 'b' || eap === 'd') { // In main content
				ea.classList.add('eam-wrapper')
				var ctr = document.getElementById('main-container')
			}
			if (eap === 'c' || eap === 'd') { // With keywords
				// Things someone might be doing with YAML
				ea.dataset.eaKeywords = 'frontend|backend|devops|cloud|docker|kubernetes|containers|ansible|openshift|aws|azure|gcp|ci|cd|heroku'
			}
			ctr.insertBefore(ea, ctr.firstChild)
			})()
		footer.footer: .container: .content.has-text-centered
			| &copy; 2017 #[a(href="https://www.wolfgangfaust.com/") Wolfgang Faust]
			=' '
			| &bull;
			=' '
			a(href='https://github.com/wolfgang42/yaml-multiline')
				//- This data URI is github-64.png.
				//- I embed it because the image is so small that the overhead
				//- of a separate request would completely swamp the actual data.
				//- This is a horribly excessive micro-optimiziation,
				//- but I had fun doing it.
				img(
					width=16 height=16 alt="GitHub:"
					style="vertical-align:middle"
					src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAQMAAACQp+OdAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAMdJREFUeAGtzrFtBCEUBNBZEWxICZRCaWzmtpDcCNcBzggQ4z/8k/dkXXg/WL0VDPNhkwb2BLJuRLJvFHJt0OZ5xS+dQlNYGIYsTA95jPTY4bhuhJXJWSrOFclWmkHthqgnkDvSP4wbeQll3ih+tF4whPQCdiH+gR9GMgzHXfpmsSXYN1PgNFQgGBK73htIXwsowjdrIDvig9chnD8bDWcnIISRhYpjQLhwzCewNtQn6C8/1Olb+uKn0AxBqAYIgMfmRgQ63swvNm3X54/v6+YAAAAASUVORK5CYII='
					)
				=' '
				| wolfgang42/yaml-multiline
			div(style="padding-top:.5em;") Thanks to #[a(href="https://stackoverflow.com/questions/3790454/in-yaml-how-do-i-break-a-string-over-multiple-lines/21699210#21699210") Steve Bennett] and #[a(href="https://github.com/wolfgang42/yaml-multiline/pulls?q=is%3Apr+is%3Amerged") others]
